.meteo {
    text-align: center;
    color: white;
}

.city {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.temperature {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.description {
    text-transform: capitalize;
}
